.Calendar {
    text-align: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: -4rem;
    background-color: rgb(194, 27, 27);
    border-radius: 0.5rem;
    color: #8898aa;
  }
  

.CalendarContainer{
  width: 100%;
  height: 100%;
}